*{
    background-color: black;
    color: white;
}
body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}
.Head{
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 3px 3px #E15D44;
}
.btn-link{
    font-size: 1rem;
    padding: 8px 5rem;
}
.links{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #009B77;
}
.table-head{
    margin: 2rem;
    margin-left: 20rem;
}
table {
    border-collapse: collapse;
    width: 100%; 
    margin: auto; 
    text-align: center;
}

th, td {
    border: 1px solid #ddd; /* Border color */
    padding: 8px;
    text-align: center;
}

th {
    background-color: white; 
}
.links-mini{
    font-size: 1.5rem;
    color: #009B77;
    text-decoration: none;
    font-weight: bold;
    margin-right: 4px;
    opacity: 0.9;
}
.red{
    color: red;
    opacity: 0.9;
}
.task-head{
    margin: 4rem;
}
.task-head input{
    padding: 10px 1rem;
    margin: 0.5rem;
}
.task-head button{
    padding: 10px 10rem;
    margin: 2rem 0.5rem;
}